<div *ngIf="formPopUpFunc" class="popUpBackground flex justify-center items-center">
    <div class="bg-blue p-10 relative rounded-lg">
        <button class="absolute top-0 right-0 z-20" (click)="funcPopUpSwitch()" mat-icon-button>
            <mat-icon class="text-white" >close</mat-icon>
        </button>          
    <app-add-functionality-form [projID]="(project$ | async)!.id"></app-add-functionality-form>
    </div>
</div>

<div *ngIf="formPopUpTask" class="popUpBackground flex justify-center items-center">
    <div class="bg-blue p-10 relative rounded-lg">
        <button class="absolute top-0 right-0 z-20" (click)="taskPopUpSwitch()" mat-icon-button>
            <mat-icon class="text-white" >close</mat-icon>
        </button>          
    <app-add-task-form></app-add-task-form>
    </div>
</div>


    <h1 class="text-2xl font-semibold flex justify-between">
        {{(project$ | async)!.Name}}   

        <!-- <div id="filters">
            <span class="bg-blue">
                <mat-icon>search</mat-icon>
                <input class="bg-blue" type="text" />
            </span>
            <mat-icon>sieve</mat-icon>
            <select>
                <option>None</option>
                <option>To Do</option>
                <option>In progress</option>
                <option>Finished</option>
            </select>
        </div> -->
    </h1>
    
    <p>Functionalities: <button (click)="funcPopUpSwitch()" class="p-2 m-2 bg-blue text-white rounded">Add functionality</button></p>
    <p>Tasks: <button (click)="taskPopUpSwitch()" class="p-2 m-2 bg-blue text-white rounded">Add task</button></p>
    <hr class="opacity-20">


<div class="flex gap-2 flex-col">
    <div *ngFor="let funcID of (project$ | async)!.functionalities">
    
        <app-list-func-elem [funcID]=funcID></app-list-func-elem>
    
    </div>
</div>

