:host{
    margin: 0;
    padding: 0;
}

div.wrapper{
    overflow: hidden;
    border-radius: 15px;
    background-color: white;
    height:98vh;
    width:98vw;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.473);
}
