<nav class="bg-blue w-100 h-20 flex flex-wrap justify-evenly">
    
    <a href="#" class="w-12 flex text-white hover:scale-110 transition">       
        <span class="self-center text-2xl font-semibold whitespace-nowrap">Home</span>
    </a>

    <a href="#" class="w-12 flex text-white hover:scale-110 transition">       
        <span class="self-center text-2xl font-semibold whitespace-nowrap">About</span>
    </a>
    <a routerLink="/Projets" class="w-12 flex text-white hover:scale-110 transition">       
        <span class="self-center text-2xl font-semibold whitespace-nowrap">Projects</span>
    </a>

    <a href="#" class="w-12 flex text-white hover:scale-110 transition">       
        <span class="self-center text-2xl font-semibold whitespace-nowrap">Account</span>
    </a>

   
   
</nav>