<nav class="bg-blue w-100 h-20 flex flex-wrap justify-evenly">
    <a href="#" class="flex items-center h-full bg-blue">
        <img src="https://flowbite.com/docs/images/logo.svg" class="h-12 m-5" alt="Flowbite Logo">
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Manage Me</span>
    </a>
    <a href="#" class="w-12 flex text-white hover:scale-110 transition">       
        <span class="self-center text-2xl font-semibold whitespace-nowrap">Home</span>
    </a>

    <a href="#" class="w-12 flex text-white hover:scale-110 transition">       
        <span class="self-center text-2xl font-semibold whitespace-nowrap">About</span>
    </a>
    <a routerLink="/Projets" class="w-12 flex text-white hover:scale-110 transition">       
        <span class="self-center text-2xl font-semibold whitespace-nowrap">Projects</span>
    </a>

    <a href="#" class="w-12 flex text-white hover:scale-110 transition">       
        <span class="self-center text-2xl font-semibold whitespace-nowrap">Account</span>
    </a>

   
   
</nav>