<h1>Project_Name Dashboard</h1>
<!-- 
<mat-form-field>
    <mat-label>Favorite food</mat-label>
    <mat-select>
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
</mat-form-field> -->

<mat-form-field>
    <mat-label>Cars</mat-label>
    <select matNativeControl>
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
</mat-form-field>

<section class="dashboard">
<!-- 
<div class="dashboardCanban" id="kanbanToDo">
    <div class="kanbanColumn">
        <div class="kanbanCard">
            <div class="tag">
                test
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
    
    
        </div>
    
    </div>
    <div class="kanbanColumn" id="kanbanDoing">
        <div class="kanbanCard">
            <div class="tag">
                test
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
    
    
        </div>
    
    </div>
    <div class="kanbanColumn" id="kanbanDone">
        <div class="kanbanCard">
            <div class="tag">
                test
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
    
    
        </div>
    
    </div>
</div> -->


<div class="dashboardListView">
    <!-- TODO CREATE COMPONENT WITH EXPANTION PANEL 
    REF: https://material.angular.io/components/expansion/overview
    -->
</div>



</section>